@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Gravitas+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --CorFonte:363636;

}

.fundoIMG{
    background-image: url("/imgs/fundRes.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    filter: blur(2px);
}

.logoT{
    width: 466px;
    height: 466px;
}
 
.conteudo{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top:186px;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    padding:26px 79px 20px 20px ;

    font-family: 'Fira Mono', monospace;
    font-size: 16px;
}

.caixa-Registro{
    width: 222px;
}

h4{
    margin-bottom: 30px;
    font-family:'Fira Mono', monospace;
    font-weight: 500;
    color:var(--CorFonte);
    
}

label,a{
    display: flex;
}