body{
    background-image: url(imgs/fundRes.jpg);
    background-image: bl;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}